/* 
dark-turquoise: #166a6c
turquoise: #37d4d7
light-orange: #fec03b
brown: #c78800 
*/
 
 .filter-list.row {
   justify-content: space-around;
   align-items: center;
   list-style: none;
  }

  .btn.btn-primary {
    color: #166a6c;
    background-color: RGBA(34,193,195,0.1);
    border-color: #166a6c;
    margin: 0.45rem;
    padding: 0.45rem;
  }

  .btn.btn-primary:focus {
    color:white;
    background-color: #166a6c;
  }

  .btn.btn-primary:hover {
    color:white;
    background-color: #166a6c;
  }

  .btn.btn-primary:active {
    color:white;
    background-color: #166a6c;
  }
