.bookshelf-container {
  background: linear-gradient(rgba(34,193,195,0.15), rgba(233, 233, 41, 0.5) 80%, #b7d83e);
  color: #372601;
  padding-bottom: 2rem;;
}

.bookshelf-container h1 {
  color: #372601;
  margin: 0 0 1rem;
}

.booktitle-row {
  padding: 3rem 0;
}

.bookshelf-row {
  justify-content: center;
  align-items: center;
  padding-top: 0.25rem;
  border-bottom: 0.015rem solid #372601;
}

.bookshelf-row .col {
  padding: 0.25rem;
}

.loading-image {
  content: url('../images/bookstars.gif');
  margin-left: auto;
  margin-right: auto;
}

.favorite-book-icon {
  content: url('../images/heart_book.svg');
  width: 2.5rem;
  margin-left: 0.5rem;
}

.non-favorite-book {
  height: 2.25rem;
  width: 2.5rem;
}

#book-count {
  font-size: small;
}