.App {
  text-align: center;
  padding: 0;
}

.App-header {
  background: linear-gradient(#166a6c, #37d4d7, #fec03b, #c78800);
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
  -moz-text-stroke-color: #00291d;
  -webkit-text-stroke-color: #00291d;
  -moz-text-stroke-width: 0.5px;  
  -webkit-text-stroke-width: 0.5px;
}

.App .row {
  margin-left: 0rem;
  margin-right: 0rem;
}