.App {
  text-align: center;
  padding: 0;
}

.App-header {
  background: linear-gradient(20deg, rgba(233, 233, 41, 1), #b7d83e);
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
  -moz-text-stroke-color: #00291d;
  -webkit-text-stroke-color: #00291d;
  -moz-text-stroke-width: 1px;  
  -webkit-text-stroke-width: 1px;
}

.App .row {
  margin-left: 0rem;
  margin-right: 0rem;
}