ul[class*=navigation] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: #936501;
  margin: 0.25rem 0 0;
  padding: 0.5rem 0;
}

[class*=navigation] a {
  outline: none;
  text-decoration: none;
  color: #f8f7ea;
}

[class*=navigation] a:focus {
  color: #c3feff;
  border-bottom: 1px solid;
}

[class*=navigation] a:hover {
  color: #c3feff;
  border-bottom: 1px solid;
}

[class*=navigation] a:active {
  color: #c3feff;
  border-bottom: none;
}

button#logo-button {
  padding: 0;
  margin: 0;
  border: 0;
}

#logo-id {
  display: inline;
  width: 75px;
  cursor: pointer;
}

#logo-id:focus {
  box-shadow: 1px 5px 15px #c3feff;
}

#logo-id:hover {
  box-shadow: 1px 5px 15px #c3feff;
}

#logo-id:active {
  box-shadow: 1px 5px 15px #c3feff;
}